<div class="container mt-5">


  <% if @order.unpaid? && @orders.count >0 %>
    <h5> Ordern no.<%=@order.number%> </h5>
    <h5> Total:<%=@order.total%> </h5>
    <% @orders.each  do |item|%>
    <div class="card-cart row mt-5" id="item_<%=item.id%>" >
      <div class="col-sm-2 pl-0">
      <%= image_tag get_product(item).image, class:"image img-fluid" %>   
      </div>

      <div class="col-sm-10 px-5 py-4 d-flex">
        <div class="col-sm-12 col-md-6">
          <h5 class="title-cart"><%=get_product(item).title%></h5>
          <p class="text-secondary-cart"> Ganado en subasta: <%=item.auction.title%></p>
          <p class="text-secondary-cart"> fecha: <%=item.auction.end_date%></p>
          <p class="text-secondary-cart"> Categoria: <%=get_product(item).category.name%></p>

        </div>
        <div class="col-sm-12 col-md-6 d-flex flex-column align-items-center ">
          <h4 class="price-cart mb-auto "> <strong>  <%= number_to_currency(item.price, :precision => 0, :delimiter => ".") %></strong></h4>
          <%= form_for :cart, url: destroy_path,  method: :delete do |f| %>
                          <%= f.hidden_field :item, value: item.id %>
                          <%= f.submit "delete to cart", class:"btn btn-form btn-lg"  %>
                        <% end %>
        </div>
      </div>
    
    </div>
    
    <%end%>
  
<div class="row ml-auto">
<script
  src="https://www.mercadopago.cl/integrations/v1/web-payment-checkout.js"
  data-preference-id="<%= @preference_id %>">
</script>
</div>
  <%else%>
    <h5 class="mt-5" >no tienes ningun producto en el carrito</h5>
  <%end%>

</div>
