


    <div class="row d-flex justify-content-center">
      <div class="col-sm-12 d-flex justify-content-center">
        <div class="card card-signin flex-row my-5">
          <div class="card-img-left d-none d-md-flex">
             <!-- Background image for card set in CSS! -->
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">Registro</h5>
           
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
              
              <div class="form-label-group">
                
                <%= f.text_field :name,id:"inputUserame", class:"form-control", placeholder:"Nombre", autofocus: true  %>
              </div>
              
              <div class="form-label-group">
                <%= f.email_field :email, autofocus: true, class:"form-control",placeholder:"Email address" %>
                
                
              </div>
              
              <hr>

              <div class="form-label-group">
              <%= f.password_field :password, class:"form-control", placeholder:"Password" %>
                <em class="text-center mt-4 small text-muted">(<%= @minimum_password_length %> characters minimum)</em>
               
              </div>
              
              
              <div class="form-label-group">
                
               <%= f.password_field :password_confirmation, class:"form-control", placeholder:"Confirma tu Password" %>
              
              
              
              <%= f.submit "Registrarme" , class:"btn btn-lg btn-primary btn-block text-uppercase btn-form mt-4 btnn"%>
              <%= link_to 'Ya tienes una cuenta?', new_user_session_path, class:"d-block text-center mt-4 small" %>
              
              <hr class="my-4">
              <button class="btn btn-lg btn-google btn-block text-uppercase btnn" type="submit"><i class="fab fa-google mr-2"></i> Sign up with Google</button>
              <button class="btn btn-lg btn-facebook btn-block text-uppercase btnn" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign up with Facebook</button>
            <% end %>
            
            
          </div>
        </div>
      </div>
    </div>
  
