<div class="capsule2 mt-5">

  <%= form_with(model: auction, local: true) do |form| %>
     
     <div class="row">

     <div class="form-group col-sm-6">
        <%= form.label "Producto" %>
        <%= form.collection_select :product_id, @products, :id, :title,{prompt: "Selecciona un producto"},{ class:"form-control picker"} %>
        
      </div>
      </div>
      
    <div class="row">

      <div class="form-group col-sm-6">
        <%= form.label "Titulo" %>
        <%= form.text_field :title, class:"form-control" %>
      </div>

      <div class="form-group col-sm-6">
        <%= form.label "Precio Inicial" %>
        <%= form.number_field :initial_price, class:"form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= form.label "Descripciòn" %>
      <%= form.text_area :description, class:"form-control" %>
    </div>

    <div class="row">
    
      <div class="form-group col-sm-6">
        <%= form.label "Fecha de Inicio" %>
        <%= form.datetime_local_field :start_date, class:"form-control" %>
      </div>

      <div class="form-group col-sm-6">
        <%= form.label "Fecha de Finalizaciòn" %>
        <%= form.datetime_local_field :end_date, class:"form-control" %>
      </div>
    </div>

    <div class="row">
            
      <div class="actions col-sm-6 text-center my-auto">
        <%= form.submit "Crear Subasta", class:"btn btn-form btn-block "%>
      </div>
    </div>

  <% end %>
</div>

