<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Raleway:wght@300;500;700;900&display=swap" rel="stylesheet">   
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <%= render partial: 'shared/topbar' %>
     <%= render partial: 'shared/navbar' %>

   
    
  <div class="container">
          
        
      <%= yield %>
      <%= toastr_flash %>
  </div>
      <%= render partial: 'shared/footer' %>
  
  

  </body>
</html>
